<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation_201_TestSuite">
	<!-- Suite -->
	<test name="TC001_Register">
		<classes>
			<class name="com.mindtree.automation201.test.Register_test" />
		</classes>
	</test>
	<test name="TC002_SignIn">
		<classes>
			<class name="com.mindtree.automation201.test.SignIn_test" />
		</classes>
	</test>
	<test name="TC003_One_Way_Trip">
		<classes>
			<class name="com.mindtree.automation201.test.OneWayTrip_test" />
		</classes>
	</test>
	<test name="TC004_Two_Way_Trip">
		<classes>
			<class name="com.mindtree.automation201.test.TwoWayTrip_test" />
		</classes>
	</test>
	<!-- Test -->
</suite>